@charset "UTF-8";

:root {
  --color01: #B8BFCE;
  --color02: #061A40;
  --color03: #0353A4;
  --color04: #006DAA;
  --color05: #003559;
  --colorAccent01: #00a8a8;
  --colorAccent02: #ed6b43;
  --textColor: #333;
  --textColor02: #747474;
  --transition: all .3s;
  --fontEn: "Roboto", sans-serif;
  --fontJa: "Noto Sans JP", sans-serif;
  --fontSaira: "Saira", sans-serif;
}

/*
*
* keyframes
*
*/
@keyframes dotProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes showTextFromBottom{
  0%{
    transform: translateY( 100% );
  
  }
  100%{
      transform: translateY( 0px );
  }
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes morph {
  0% {
    border-radius: 31% 69% 62% 38% / 32% 42% 58% 68%;
  }
  25% {
    border-radius: 60% 40% 30% 70% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 50% 50% 70% 30% / 30% 60% 40% 70%;
  }
  75% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 31% 69% 62% 38% / 32% 42% 58% 68%;
  }
}

/* 
*
* settings
*
*/
html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: .05em;
  font-family: var(--fontJa);
  color: var(--textColor);
}
ul {
  list-style: none;
}
figure img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  display: block;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
  opacity: .7;
}
small {
  font-size: 80%;
}
.em {
  color: var(--colorAccent01);
}
.boxShadow {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.disabled {
  pointer-events: none;
  opacity: .3;
}
.bgStripe {
  background: repeating-linear-gradient(-45deg, #e9f3ff, #e9f3ff 5px, #fff 5px, #fff 10px);
}

/* js */
.anim-text-popup span {
  display: inline-block;
}
.anim-text-popup > span {
  overflow: hidden;
}
.anim-text-popup > span > span {
  animation: showTextFromBottom 0.3s backwards;
}
.js-popup-brank {
  letter-spacing: -.5;
}

/*
*
* Swiper
*
*/
.swiper-nav {
  margin-top: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.swiper-pagination {
  position: static;
}
.swiper-progress-pagination .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: #ccc;
  margin: 0 16px 0 0;
  transition: width border-radius 0.3s ease;
  opacity: 1;
}
.swiper-progress-pagination .swiper-pagination-bullet::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: var(--color04);
  border-radius: 100rem;
}
.swiper-progress-pagination .swiper-pagination-bullet-active {
  width: 8%;
  border-radius: 100rem;
  position: relative;
}
.swiper-progress-pagination .swiper-pagination-bullet-active::after {
  animation: dotProgress 5.5s linear forwards;
}

/* 
*
* body
*
*/
/* common */
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.title-type01 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: var(--color05);
  padding-bottom: 20px;
  margin-bottom: 40px;
  position: relative;
}
.title-type01 .en {
  letter-spacing: .08em;
  font-family: var(--fontEn);
  text-transform: uppercase;
  display: block;
}
.title-type01 .ja {
  font-size: 14px;
  color: var(--textColor02);
  display: block;
}
.title-type01::after {
  content: "";
  background: linear-gradient(135deg,var(--color05) 0%, var(--color04) 50%, var(--color01) 100%);
  height: 5px;
  width: 35px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.link-type01 {
  font-weight: 500;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}
.link-type01::before {
  content: "";
  width: 50px;
  aspect-ratio: 1/1;
  border: 1px solid var(--color05);
  border-radius: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  top: 30%;
}
.link-type01 .arrow::before, .link-type01 .arrow::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.link-type01 .arrow::before {
  width: 17px;
  height: 1px;
  border-radius: 9999px;
  background-color: var(--color05);
  transform: rotate(45deg);
  transform-origin: 17px 0;
}
.link-type01 .arrow::after {
  width: 30px;
  height: 1px;
  border-radius: 9999px;
  background-color: var(--color05);
}
@media screen and (min-width: 992px) {
  .link-type01:hover {
    color: var(--color04);
    opacity: 1;
  }
  .link-type01:hover::before {
    border-color: var(--color04);
  }
  .link-type01:hover .arrow::before, .link-type01:hover .arrow::after {
    right: 22px;
  }
}
.deco {
  opacity: .7;
}
@media screen and (max-width: 480px) {
.icon {
  display: none;
}
}
.deco, .icon {
  width: 100px;
  position: absolute;
  z-index: 1;
}

/* #content */
#content {
  position: relative;
}

/* scrollDown */
.scrollDown {
  position: absolute;
  right: 49.5%;
  top: -105px;
  writing-mode: vertical-rl;
  z-index: 1;
}
.scrollDown::before {
  animation: scroll 2s infinite;
  background-color: var(--color01);
  bottom: -115px;
  content: "";
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1.4px;
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  transform: translateY(-100%);
  transition: .5s ease-out;
}
.header__inner {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
}
.header__inner .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo figure {
  width: 90px;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 992px) {
.header__nav ul {
  gap: 10px;
}
}
.header__nav ul > li {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
.header__nav ul > li {
  font-size: 14px;
}
}
@media screen and (min-width: 992px) {
  .header__nav ul > li a:hover {
    color: var(--color03);
  }
}
.header.is-show {
  transform: translateY(0);
}

/* hero */
.hero {
  height: 100vh;
  text-align: center;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg,var(--color05) 0%, var(--color04) 50%, #fff 100%); */
}
.hero__container {
  width: 95%;
  max-width: 800px;
  height: 45vh;
  min-height: 350px;
  margin: 0 auto;
  border-radius: 31% 69% 62% 38% / 32% 42% 58% 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--color05), var(--color04), #ffffff);
  background-size: 400% 400%;
  animation: morph 10s ease-in-out infinite, gradientShift 10s ease-in-out infinite;
  overflow: hidden;
}
.hero__title {
  font-size: 68px;
  font-family: var(--fontSaira);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
.hero__title {
  font-size: 290%;
}
}
.hero__lead {
  font-size: 18px;
  font-family: var(--fontSaira);
  color: #fff;
  margin-top: 10px;
}

/* section */
section {
  padding: 120px 0;
}
section p {
  text-align: center;
}

/* about */
.about .deco_01 {
  top: -50px;
}
.about .deco_02 {
  width: 20px;
  top: -90px;
  right: 0;
}
.about .icon {
  width: 80px;
  top: -120px;
  right: 50px;
}
.about__container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  position: relative;
}
@media screen and (max-width: 992px) {
.about__container {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
}
.about__container::after {
  content: "";
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: url(../images/deco_03.svg) no-repeat center center/cover;
  position: absolute;
  top: 220px;
  left: 220px;
  z-index: 1;
}
.about__image {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--color05);
  background: linear-gradient(-135deg,var(--color05) 0%, var(--color03) 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px 0px;
  padding: 16px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.about__image img {
  height: 250%;
  width: 250%;
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.about__info {
  flex: 1;
}
.about__info p {
  text-align: left;
}
.about__info .info_title {
  color: var(--color02);
  font-size: 24px;
  margin: 20px 0;
}
.about__info .info_lead {
  line-height: 2;
}

/* skill */
.skill {
  padding: 60px 0 0;
}
.skill .deco_01 {
  width: 140px;
  top: -320px;
  right: 0;
}
.skill .deco_02 {
  width: 30px;
  bottom: -67px;
  left: 60px;
}
.skill .icon {
  width: 90px;
  bottom: 50px;
  left: -50px;
}
.skill .title-type01 {
  margin-bottom: 50px;
}
.skill__container {
  background-color: var(--color01);
  padding: 50px 0;
}
.skill__list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
@media screen and (max-width: 992px) {
.skill__list {
  flex-wrap: wrap;
  gap: 20px;
}
}
.skill__list .list_item {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 25px;
  width: calc((100% - 40px) / 3);
  max-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .skill__list .list_item {
    width: calc((100% - 20px) / 2);
  }
}
.skill__list .list_icon {
  width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__list p {
  min-height: 60px;
}
.skill__list .list_lead {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.07em;
  min-height: 40px;
  margin-top: 5px;
}
@media screen and (max-width: 992px) {
  .skill__list .list_lead {
    font-size: 80%;
    min-height: 20px;
  }
}
.skill__list .list_item--item02 .list_icon {
  width: 60px;
}
.skill__detail {
  background-color: #b8bfce63;
  padding: 60px 0;
}
.skill__detail .wrapper {
  padding: 0 50px;
  max-width: 1000px;
}
@media screen and (min-width: 991px) {
.skill__detail .wrapper {
  width: 80%;
}  
}
.skill__detail .detail_item:not(:first-of-type) {
  margin-top: 40px;
}
.skill__detail .detail_title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 80px;
  position: relative;
}
.skill__detail .detail_title::before {
  content: "";
  background-color: var(--color05);
  height: 1px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.skill__detail .detail_list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;
}
.skill__detail .detail_list li {
  /* background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100rem;
  padding: 2px 30px; */
  display: flex;
  align-items: center;
}
.skill__detail .detail_list li .title {
  text-align: left;
  padding: 0 55px 0 20px;
  margin-right: 10px;
  position: relative;
}
.skill__detail .detail_list li .title::before {
  content: "";
  background: url(../images/caret-right-fill.svg) no-repeat center center / 100%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.skill__detail .detail_list li .title::after {
  content: "・・・";
  color: var(--textColor);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.skill__detail .detail_list .period .num {
  font-size: 18px;
  margin-right: 10px;
}
.skill__detail .detail_list .period.years .num {
  color: var(--colorAccent01);
  font-weight: bold;
}

/* works */
@media screen and (max-width: 480px) {
.works .wrapper {
  padding: 0;
}
}
.works .deco_01 {
  width: 120px;
  top: -140px;
  left: -50px;
}
.works .deco_02 {
  width: 16px;
  top: -180px;
  right: 10px;
}
.works .icon {
  width: 100px;
  top: -130px;
  right: 30px;
}
.works__container {
  position: relative;
}
.works__slider {
  overflow: hidden;
  padding: 30px 0 0;
}
.works__slider .swiper-slide-active {
  transform: scale(1.2);
  transition-duration: .3s;
}
.works__slider .swiper-slide {
  aspect-ratio: 550/450;
  border-radius: 0;
  overflow: hidden;
  transition: all .3s;
}
.works__slider .swiper-slide a figure {
  position: relative;
  z-index: 1;
}
.works__slider .swiper-slide a figure::before {
  content: "other";
  font-size: 12px;
  color: #fff;
  rotate: -45deg;
  position: absolute;
  bottom: 13px;
  right: 11px;
  z-index: 1;
}
.works__slider .swiper-slide a figure::after {
  content: "";
  background-color: var(--color05);
  width: 100px;
  height: 100px;
  rotate: 45deg;
  position: absolute;
  bottom: -50px;
  right: -50px;
}
.works__slider .swiper-slide.app a figure::before {
  content: "app";
}
.works__slider .swiper-slide.app a figure::after {
  background-color: var(--colorAccent01);
}
.works__slider .swiper-slide.web a figure::before {
  content: "web";
}
.works__slider .swiper-slide.web a figure::after {
  background-color: var(--colorAccent02);
}
.works__slider .swiper-slide a figure img {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all .3s;
}
.works__slider .swiper-slide:hover {
  border-radius: 30px 30px 0 30px;
}
.works__slider .swiper-slide :hover figure img  {
  transform: scale(1.15);
}
.works__link  {
  text-align: right;
}
@media screen and (max-width: 991px) {
.works__link  {
  margin: 30px 20px 0 0;
}
}

/* books */
.books .deco_01 {
  width: 90px;
  bottom: -130px;
  left: 60px;
}
.books__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 50px;
}
@media screen and (max-width: 991px) {
.books__list {
  gap: 20px 20px;
}
}
.books__list li {
  width: calc((100% - 200px) / 5);
  min-width: 140px;
  aspect-ratio: 15/20;
}
@media screen and (min-width: 992px) {
.books__list li {
  width: calc((100% - 120px) / 5);
}
}
.books__list li figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.books__list li figure img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
}

/* footer */
footer {
  color: #fff;
  text-align: center;
  padding: 30px;
  background: linear-gradient(-135deg,var(--color05) 0%, var(--color04) 50%, #fff 100%);
}
.footer #pageTop {
  transform: translateY(250%);
}
.footer #pageTop.is-show {
  transform: translate(0);
}
.footer__top {
  text-align: right;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}
.footer__top a {
  display: inline-block;
  position: fixed;
  bottom: 50px;
}
.footer__top a span {
  width: 60px;
  aspect-ratio: 1/1;
  border: 1px solid var(--color05);
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: relative;
  rotate: -90deg;
}
.footer__top a span::before, .footer__top a span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 40%;
  width: 13px;
  height: 2px;
  border-radius: 9999px;
  background-color: #024873;
  transform-origin: 100% 50%;
  transition: all 0.3s;
}
.footer__top a span::before {
  transform: rotate(40deg);
}
.footer__top a span::after {
  transform: rotate(-40deg);
}
@media screen and (min-width: 992px) {
  .footer__top a:hover {
    opacity: 1;
  }
  .footer__top a:hover span {
    border-color: var(--color04);
  }
  .footer__top a:hover span::before, .footer__top a:hover span::after {
    left: 48%;
  }
}